<div class="container mx-auto p-6 bg-neutral-50 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-3xl font-bold text-[#e7343a] text-center mb-4">{{ pageTitle }}</h2>
    
    <p class="text-base text-[#e7343a] leading-relaxed mb-2 text-center">
      {{ importantNoticeTitle }}
    </p>
    <p class="text-base text-gray-600 leading-relaxed mb-8 text-justify">
      {{ importantNoticeParagraph1 }}
    </p>
    <p class="text-base text-gray-600 leading-relaxed mb-8 text-justify">
      {{ importantNoticeParagraph2 }}
    </p>

    <form (ngSubmit)="onSubmit()" class="space-y-4" #registerForm="ngForm">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">{{ usernameLabel }}</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required minlength="3" maxlength="20" #usernameField="ngModel"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)" class="text-red-500 text-xs mt-1">
          <div *ngIf="usernameField.errors?.['required']">
            {{ usernameRequiredError }}
          </div>
          <div *ngIf="usernameField.errors?.['minlength']">
            {{ usernameMinLengthError }}
          </div>
          <div *ngIf="usernameField.errors?.['maxlength']">
            {{ usernameMaxLengthError }}
          </div>
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">{{ emailLabel }}</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required email #emailField="ngModel" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-red-500 text-xs mt-1">
          <div *ngIf="emailField.errors?.['required']">
            {{ emailRequiredError }}
          </div>
          <div *ngIf="emailField.errors?.['email']">
            {{ emailInvalidError }}
          </div>
        </div>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">{{ passwordLabel }}</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required minlength="6" #passwordField="ngModel"
               class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="text-red-500 text-xs mt-1">
          <div *ngIf="passwordField.errors?.['required']">
            {{ passwordRequiredError }}
          </div>
          <div *ngIf="passwordField.errors?.['minlength']">
            {{ passwordMinLengthError }}
          </div>
        </div>
      </div>

      <p *ngIf="errorMessage" class="text-red-500 text-sm text-center">{{ errorMessage }}</p>

      <button type="submit" [disabled]="registerForm.invalid"
              class="w-full bg-[#e7343a] hover:bg-[#942226] text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition duration-300" [ngClass]="{'opacity-50 cursor-not-allowed': registerForm.invalid}">
        {{ registerButtonText }}
      </button>
    </form>
    <p class="mt-6 text-center text-sm text-gray-600">
      {{ alreadyHaveAccountText }} <a [routerLink]="['/login']" class="font-medium text-[#e7343a] hover:text-[#942226]">{{ loginLinkText }}</a>
    </p>
  </div>
</div>
