<div class="container mx-auto px-4 py-8 bg-neutral-50 min-h-screen flex items-center justify-center sm:px-6 lg:px-8">
  <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-sm sm:max-w-md">
    <h2 class="text-2xl sm:text-3xl font-bold text-[#e7343a] text-center mb-6">{{ pageTitle }}</h2>

    <form (ngSubmit)="onSubmit()" class="space-y-5">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1">{{ emailLabel }}</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required
               class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#e7343a] focus:border-[#e7343a] sm:text-sm">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700 mb-1">{{ passwordLabel }}</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required
               class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#e7343a] focus:border-[#e7343a] sm:text-sm">
      </div>

      <p *ngIf="successMessage" class="text-green-600 text-sm text-center">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="text-red-500 text-sm text-center">{{ errorMessage }}</p>

      <button type="submit"
              class="w-full bg-[#e7343a] text-white font-bold py-2.5 px-4 rounded-md hover:bg-[#942226] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#e7343a] transition duration-300">
        {{ loginButtonText }}
      </button>
    </form>
    <p class="mt-6 text-center text-sm text-gray-600">
      {{ noAccountText }} <a [routerLink]="['/register']" class="font-medium text-[#e7343a] hover:text-[#942226] transition-colors">{{ registerLinkText }}</a>
    </p>
  </div>
</div>